.main-input {
    display: block;
}

.id-input {

}

.id-name {

}

.id-Address {

}

.main-actions {
    display: flex;
   // justify-content: right;
    justify-content: space-between;
}

// .add-product-dialog {
//     background-color: blue;
// }

.add-customer-form {
    background-color: blue;
}

.main-dialog-actions {
    display: flex;
    justify-content: space-between;
}

.form-field {
    width: 70%;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: red !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 

  .duplicate-value-error {
     // justify-content: right;
     flex:1;
  }
// .input-name {
//     color: red;
// }

// ::ng-deep .mat-form-field {
//     color: red;
// }
// .save-btn .close-btn{
//     border: red;
// }

// .close-btn {

// }
// .close-button {
    
// }

// h2 {
//  background: red;
// }