.main-input {
    display: block;
}

.main-actions {
    display: flex;
    justify-content: space-between;
}

.add-customer-form {
    background-color: blue;
}

.main-dialog-actions {
    display: flex;
    justify-content: space-between;
}

.form-field {
    width: 70%;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: red !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    background-color: black !important;
  } 

  .duplicate-value-error {
     flex:1;
  }
