<div class="add-product-dialog">

<h2 mat-dialog-title>Add New Product</h2>
<mat-dialog-content [formGroup]="newCustomersForm" >
    <div class="main-input">
        <div class="id-input">
            <mat-form-field class="form-field">
                <input matInput placeholder="Enter Customer ID" formControlName="CustomerID" [errorStateMatcher]="matcher"  required>
                <mat-error *ngIf="CustomerID.invalid">ID is  <strong>required</strong></mat-error>
            </mat-form-field>
        </div>

        <div class="id-name">
            <mat-form-field class="form-field">
                <input matInput placeholder="Enter Customer Name" formControlName="CustomerName" [errorStateMatcher]="matcher"  required>
                <mat-error *ngIf="CustomerName.invalid">Name is  <strong>required</strong></mat-error>
            </mat-form-field>
        </div>

        <div class="id-email">
            <mat-form-field class="form-field">
                <input matInput placeholder="Enter Customer Email" formControlName="CustomerEmail" [errorStateMatcher]="matcher" required>
                     <mat-error *ngIf="CustomerEmail.hasError('email') && !CustomerEmail.hasError('required')">
                      Please enter a valid email address
                    </mat-error>  
                    <mat-error *ngIf="CustomerEmail.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
            </mat-form-field>
        </div>

        <div class="id-address">
            <mat-form-field class="form-field">
                <input matInput placeholder="Enter Customer Address" formControlName="CustomerAdress" [errorStateMatcher]="matcher"  required>
                <mat-error *ngIf="CustomerAdress.invalid">Address is  <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" (click)="close()" class="btn btn-raised ">Close</button>
    <button type="button" [disabled]="CustomerID.invalid || CustomerEmail.hasError('email') && !CustomerEmail.hasError('required') || CustomerName.invalid || CustomerAdress.invalid" (click)="add()" class="btn btn-raised">Add</button>

    <mat-error *ngIf="duplicateError">
        {{duplicateError}}
    </mat-error>  
</mat-dialog-actions>

</div>