
<div class="product-item"  >
    <mat-card fxLayout="column">
      <div class="product-img">
            <img [src]="product.ProductPicturePath" alt="">
      </div>
       <div class="product-info-wrapper">
          <div class="title-wrap">
             <h4>{{product.ProductName}}</h4>
          </div>
          <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center">
           <p>${{product.ProductPrice | number : '1.2-2'}}</p>
          </div>
          <div class="btn-wrap" fxLayout="row" fxLayoutAlign="space-between center">
              <a (click)="onAddToShoppingList(product)">ADD TO CART <mat-icon class="mat-icon-lg mat-icon material-icons">shopping_cart</mat-icon></a>
  
          </div>
          <div class="icons" fxLayout="column">
           </div>
       </div>
    </mat-card>
  </div>
