<section class="main"> 
    <!-- <div class="row justify-content-md-center"> -->

    <div class="title">
        <div class="user-name">
            <h4 class="text-muted" [innerHTML]="userName$" ></h4>
        </div>

        <div class="main-title">
            <h2 class="text-muted"><b>My Shop</b></h2>
        </div>
    </div>

    <div class="sub-titles">
        <div class="products-title">
            <h4 class="text-muted"><b>Products:</b></h4>
        </div>

        <div class="shopping-list-title">
            <h4 class="text-muted"><b>Shopping List:</b></h4>
        </div>
    </div>

    <div class="main-products">
        <div class="app-product-list"> 
                <app-product-list></app-product-list>
        </div>

        <div class="app-shopping-list">
            <app-shopping-list></app-shopping-list>
        </div> 
    </div>

</section >


<!-- <div class="col-md-6 col-md-offset-1"> -->

