// .shopping-list {
//  //   float: left;

// }

// .product-list {
//  //   float: left;

// }

// .main {
//  //   display: inline-block; 
//     //display: flex;
//     width: 100%;
//     justify-content: space-between;
// }


.main {
//    overflow: hidden;
    display: block;

 //   background-color: red;
}

.app-shopping-list {
 //   width: 40%;
 flex:1;
}

.app-product-list {
    flex:2;
 //   width: 60%;
}

.main-products {
    display: flex;
    justify-content: space-between;
}

.shopping-list-title {
    padding-left: 55em;
}

.products-title {
    padding-left: 23em;
}

.title {
  //  padding-left: 56em;
  display: flex;
}

.sub-titles {
    display: flex;
}

.main-title {
    width: 100%;
}

.user-name {
    width: 92%;
}