
.main {
//    overflow: hidden;
    display: block;
}


.app-product-list {
    flex:2;
 //   width: 60%;
}

.main-products {
    display: flex;
    justify-content: space-between;
}

.shopping-list-title {
    padding-left: 55em;
}

.products-title {
    padding-left: 23em;
}

.title {
  //  padding-left: 56em;
  display: flex;
}

.sub-titles {
    display: flex;
}

.main-title {
    display: flex;
    justify-content: center;
  //  width: 100%;
}

.user-name {
    width: 92%;
}

