.modal {
    padding: 1rem;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }

  /* .btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }
  
  .btnalt {
    background-color: transparent;
    color: #800040;
  }
  
  .btn--alt:hover {
    background-color: #f8dae9;
  } */