<div class="about-section">
    <h1>About Me</h1>
    <!-- <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p> -->
  </div>

  <div class="row">

  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Vadim Pik</h2>
          <p class="title">Full Stack engineer</p>
          <p>I am Vadim Pik, living in Beer-Sheva, father of Tamar and husbend of Alexandra. Until recently worked in AllScripts as a full-stack developer.</p>
          <p>At my free time I like traveling ,resting, hanging out with my family and friends, learning about new places, and reaserching every new interesting topic eather in my private time
            and at work. </p> 
           <p> I dont have many years of experience working as a full-stack developer , but I find myself very suitable to this field. I'm a fast learner,  enthusiastic, open-minded, highly motivated, hard worker, reliable, independent and excellent team player.
            I have experience working in agile methodology. In every work Ive been until now (performance, devops, full stack developer), Im was responsible for changes and revolutions in the working method and in any task I do I study the relevant topics in depth .</p>
            <p>Today I am looking for my next challenge in software development.</p>
             
             <p>I hope you will enjoy checking this work at least as I enjoyed developing it. 
    
            </p>
        <br>
          <p>Contact details:</p>
          <p>email: VadimPik@gmail.com</p>
          <p>tel: 0546466137</p>
        
        </div>
      </div>
    </div>
    

  </div>