
<router-outlet></router-outlet> 

<!-- <div Class="input">
    <div class="date-label">Date:
        <input id="date-input" type="date" size="30" pInputText [(ngModel)]="date">
    </div>
    <div class="price-label">Amount:
      <input id="price-input" type="number" size="30" pInputText [(ngModel)]="amount">
  </div>
</div>

<button id="add-btn" type="button" (click)="addProduct()" pButton label="ADD Product"></button>


<div class="product-table">
  <table>
    <tr><th *ngFor="let header of headers">
        {{header}}
    </th> </tr>
    <tr *ngFor="let product of (products | async).products; let i = index">
        <td>

            {{product.date}}</td>
        <td>{{product.amount}}</td>
        <td>
          <div class="btn-delete">
            <button type="button" class="btn-secondary" (click)="onDeleteProduct(i)"> Delete </button>
          </div>
        </td>
    </tr>
    <tr >
        <td>Total</td>
        <td>{{totalAmount}}</td>
        <td></td>
    </tr>
  </table>
  </div> -->


