


    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
      <a class="navbar-brand" routerLink="/main">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
        </ul>
      </div>  
    </nav>

<router-outlet></router-outlet> 


<!-- <div Class="input">
    <div class="date-label">Date:
        <input id="date-input" type="date" size="30" pInputText [(ngModel)]="date">
    </div>
    <div class="price-label">Amount:
      <input id="price-input" type="number" size="30" pInputText [(ngModel)]="amount">
  </div>
</div>

<button id="add-btn" type="button" (click)="addProduct()" pButton label="ADD Product"></button>


<div class="product-table">
  <table>
    <tr><th *ngFor="let header of headers">
        {{header}}
    </th> </tr>
    <tr *ngFor="let product of (products | async).products; let i = index">
        <td>

            {{product.date}}</td>
        <td>{{product.amount}}</td>
        <td>
          <div class="btn-delete">
            <button type="button" class="btn-secondary" (click)="onDeleteProduct(i)"> Delete </button>
          </div>
        </td>
    </tr>
    <tr >
        <td>Total</td>
        <td>{{totalAmount}}</td>
        <td></td>
    </tr>
  </table>
  </div> -->


