
@media (min-width:34em) {
    .card-deck > .card
    {
        height: calc(100% - 15px);
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) {
    .card-deck {
    
        margin-left: -134px !important;
        display: flex;
        flex-flow: row wrap;
        margin-right: 41px;
    }
}


.grid {
    min-height: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
}

.grid > div {
    flex-basis: calc(25% - 40px) !important;
}

.f {
    margin-left: -134px !important;
}