

// .date-label {
//     margin-top: 4em;
//     margin-left: 42.5em;
//   }
  
//   .price-label {
//     margin-top: 1em;
//     margin-left: 41em;
//   }
  
//   button {
//     margin-left: 53em;

//    }
  
//    input[type=text] {
//     margin-left: 0.7em;
//     padding: 0.2em;
//     width: 14em;
//    }
  
//    .list-group .list-group-item {
//     margin-top: 10em;
//     padding: 1em;
//    }
  
//    .product-table {
//      padding: 3em;
//      width: 40%;
//      float: left;
//      padding: 3em 4em 0;

//    }
  
//    table, th , td {
//     border: 0.2em solid grey;
//     border-collapse: collapse;
//      padding: 0.3em;
//     margin-left: -2.7em;
//     width: 57em;

//   }
  
//   table tr:nth-child(odd) {
//     background-color: #f1f1f1;
//   }
  
//   table tr:nth-child(even) {
//     background-color: #ffffff;
//   }
  
//   .btn-secondary {

//     width: 12em;
//     padding: 0.5em;
//   }
  
//   .btn-add-to-shopping-list {

//    margin-left: -38.5em;

//   }
  

.all-products {
  padding-left: 17px;
  background: white;
}

.filter-row {
  padding: 8px 25px;
  background: white;
  margin-bottom: 0px;
  box-shadow: none !important;
}

.text-muted {
  color: #808080 !important;
}

.product-wraper{
  padding: 20px 0px 20px 20px;
  .product-box {
    width: 100%;
  }
}