USE [master]
GO
/****** Object:  Database [CustomersProj]    Script Date: 26/06/2020 12:34:29 AM ******/
CREATE DATABASE [CustomersProj]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomersProj', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CustomersProj.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomersProj_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CustomersProj_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomersProj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomersProj]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 26/06/2020 12:34:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](255) NOT NULL,
	[CustomerName] [varchar](255) NOT NULL,
	[CustomerEmail] [varchar](255) NOT NULL,
	[CustomerAdress] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([ID], [CustomerID], [CustomerName], [CustomerEmail], [CustomerAdress]) VALUES (1, N'308542562', N'James', N'telbij@comcast.net', N'25 Rosewood Lane Oklahoma City OK 73112')
INSERT [dbo].[Customers] ([ID], [CustomerID], [CustomerName], [CustomerEmail], [CustomerAdress]) VALUES (2, N'308542563', N'John', N'bcevc@gmail.com', N'7539 Liberty Court Pataskala OH 43062')
INSERT [dbo].[Customers] ([ID], [CustomerID], [CustomerName], [CustomerEmail], [CustomerAdress]) VALUES (3, N'308542564', N'Robert', N'mcmillan@outlook.com', N'811 Pawnee Dr. Saint Joseph MI 49085')
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__3A0CE74C53F8BA03]    Script Date: 26/06/2020 12:34:29 AM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[CustomerEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A4AE64B9079110CF]    Script Date: 26/06/2020 12:34:29 AM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddCustomer]    Script Date: 26/06/2020 12:34:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[AddCustomer]

		@CustomerName NVARCHAR(255),
		@CustomerEmail NVARCHAR(255),
		@CustomerAdress NVARCHAR(255)
AS


BEGIN
		
		INSERT INTO [dbo].[Customers] (CustomerName, CustomerEmail, CustomerAdress)
			VALUES (@CustomerName, @CustomerEmail, @CustomerAdress)
END


select TOP(1) CustomerID
from [dbo].[Customers]
ORDER BY CustomerID DESC
GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 26/06/2020 12:34:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DeleteCustomer]

		@CustomerID INT
AS

BEGIN
	DELETE FROM [dbo].[Customers]
	WHERE CustomerID = @CustomerID
END

select count(*) from [dbo].[Customers]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomers]    Script Date: 26/06/2020 12:34:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetCustomers]  
 @PageNumber INT,  
 @PageSize INT   

As  

Begin  
	 SELECT * FROM Customers ORDER BY CustomerID OFFSET (@PageNumber-1)* @PageSize ROWS FETCH NEXT @PageSize ROWS ONLY;  
	 SELECT count(*) as totalCustomersCount FROM Customers;  
End  
GO
USE [master]
GO
