<div class="customers-page">

   <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
      <a class="navbar-brand" routerLink="/main">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
        </ul>
      </div>  
    </nav> -->

<div class="add-customer">

   <div>
      <button type="button" (click)="openDialog()" class="btn btn-raised btn-lg add-customer-button">Add Customer</button>
   </div>
</div>

<div class="cart-wrapper sec-padding">

   <mat-card *ngIf="customers.length > 0"  class="p-0">
      <div class="mat-table cart-table">
         <div class="mat-header-row">
            <!-- <div class="mat-header-cell">ID</div> -->
            <button mat-icon-button  class="mat-header-cell" (click)="sortByID()">ID 	<mat-icon>sort</mat-icon> </button> 
            <!-- <div class="dsds">
            <button type="button" (click)="openDialog()" class="btn btn-raised add-customer-button">Add Customer</button>
         </div> -->
            <div class="mat-header-cell">Name</div>
            <!-- <div class="mat-header-cell">Email</div> -->
            <button mat-icon-button  class="mat-header-cell" (click)="sortByEmail()">Email <mat-icon>sort</mat-icon></button> 
            <div class="mat-header-cell">Address</div>
            <div class="mat-header-cell">Action</div>
         </div>
         <div *ngFor="let item of customers | paginate: { id: 'pagination', itemsPerPage: pageSize, currentPage: page, totalItems: 200  }; let i = index"  class="mat-row">
  
            <div class="mat-cell">{{item.CustomerID}}</div>
            <div class="mat-cell"><a  class="product-name">{{item.CustomerName}}</a></div>
            <div class="mat-cell">{{item.CustomerEmail}}</div>
            <div class="mat-cell">{{item.CustomerAdress}}</div>

            <div class="mat-cell text-center">
               <div class="remove-product p-1">
                  <mat-icon class="delete-customer-icon" (click)="onDeleteProduct(i)">close</mat-icon>
               </div>
            </div>
         </div>
      </div>
   </mat-card>


   <div class="classd" >

      <div class="items-per-page-pagination">
         <div class="items-per-page-label">
            Items per page:
         </div>
         <div class="items-per-page-dropList">
            <angular2-multiselect 
               [data]="pageSizeSelection" 
               [(ngModel)]="selectedItems" 
               [settings]="pageSizeDropdownSettings" 
               (onSelect)="onItemSelect($event)" 
               (onDeSelect)="OnItemDeSelect($event)">
            </angular2-multiselect>
      </div>

      <div class="pagination">
            <pagination-controls class="customer-pagination" id="pagination"  maxSize="6" (pageChange)="onPageChanged($event)"></pagination-controls>
      </div>
   </div>


   </div>
</div>
